@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
        <h1>What You Need to Know</h1>
        <div>@RenderBody()</div>
        <footer> &copy; @DateTime.Now.Year </footer>
</body>
</html>
